---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Services from "@/components/Services.astro";
import Audience from "@/components/Audience.astro";
import Process from "@/components/Process.astro";
import About from "@/components/About.astro";
import Proof from "@/components/Proof.astro";
import Areas from "@/components/Areas.astro";
import Contact from "@/components/Contact.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <main id="top">
    <Header />
    <Hero />
    <Services />
    <Audience />
    <Process />
    <About />
    <Proof />
    <Areas />
    <Contact />
    <Footer />
  </main>
</Layout>
